@model HighStakes.Client.Models.Player

@{
    ViewData["Title"] = "Home Page";
}


<!-- Image by <a href="https://pixabay.com/users/15299-15299/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=100487">15299</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=100487">Pixabay</a> -->
<div class="text-center">
    <h1 class="display-4" style="color: White">Welcome to Highstakes</h1>
</div>
<div style="background-color:Tomato; margin-left: 60%; padding: 40px">
<form action="/home/lobby" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your account with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<a href="/home/register">Create an account.</a>

</div>

<style>
  body {
    background-image: url('/images/vegas_sign.jpg');
    background-position: center;
  }
</style>