@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url('/images/vegas_sign.jpg'); background-position: center">

<!-- Image by <a href="https://pixabay.com/users/15299-15299/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=100487">15299</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=100487">Pixabay</a> -->
<div class="text-center">
    <h1 class="display-4" style="color: White">Welcome to Highstakes</h1>
</div>
<div style="background-color:Tomato; margin-left: 60%; padding: 40px">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</body>

