@model HighStakes.Client.Models.Table

@{
    ViewData["Title"] = "Home Page";
}


<!-- <div class="text-center" id="dealer_cards"> -->
 <!-- id="dealer_cards" style="position: fixed; bottom: 50%; width: 100%;"> -->
  <!-- <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 6%;width: 6%;"> -->
  <!-- <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 6%;width: 6%;"> -->
  <!-- <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 6%;width: 6%;"> -->
  <!-- <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 6%;width: 6%;"> -->
  <!-- <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 6%;width: 6%;"> -->
<!-- </div> -->

<div width="100%">
<table width="100%" border="0">
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td>
                <span id="player5">
                  <img src="/images/twobackcards.jpg" class="card-size">
                  <div class="speech">cool</div>
                </span></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <span id="player6">
                  <img src="/images/twobackcards.jpg" class="card-size">
                  <div class="speech">cool</div>
                 </span></td>

              <td></td>

              <td><span id="player4">
                  <img src="/images/twobackcards.jpg" class="card-size">
                  <div class="speech">cool</div>
              </span></td></td>

              <td></td>
            </tr>
            <tr>
              <td><span id="player7">
                  <img src="/images/twobackcards.jpg" class="card-size">
                  <div class="speech">cool</div>
                 </span>
              </td>

              <td></td><td></td><td></td>

              <td><span id="player3">
                  <img src="/images/twobackcards.jpg" class="card-size">
                  <div class="speech">cool</div>
                 </span>
              </td>
            </tr>

            <tr>


              <td colspan=9>
                <div class="text-center" id="dealer_cards">
                <!-- id="dealer_cards" style="position: fixed; bottom: 50%; width: 100%;"> -->
                  <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 6%;width: 6%;">
                  <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 6%;width: 6%;">
                  <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 6%;width: 6%;">
                  <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 6%;width: 6%;">
                  <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 6%;width: 6%;">
                </div>
              </td>


            </tr>

            <tr>
              <td>
                <span id="player8">
                  <img src="/images/twobackcards.jpg" class="card-size">
                  <div class="speech">cool</div>
                 </span>
              </td><td></td><td></td><td></td>

              <td>
                <span id="player2">
                  <img src="/images/twobackcards.jpg" class="card-size">
                  <div class="bubble">cool</div>
              </span>
              </td>
            </tr>

        </tbody></table></div>

<!-- <div style="width: 100%">
  <span id="player1">
    <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
  </span>
    <span id="player2" style="margin-right: 80%">
      <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
    </span>
</div>

<span>
  <span id="player1">
    <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
  </span>
  <br><br><br><br>
    <span id="player2">
      <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
    </span>
  <br><br><br><br>
  <span id="player3">
      <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
    </span>
  <br><br><br><br>
  <span id="player4">
      <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
    </span>

</span>

<div class="text-right">hey <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;"></div>


<span style="position: fixed; left: 100%">
  <span id="player5">
    <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
  </span>
  <br><br><br><br>
    <span id="player6">
      <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
    </span>
  <br><br><br><br>
  <span id="player7">
      <img src="/images/twobackcards.jpg" style="height: 6%;width: 6%;">
    </span>
  <br><br><br><br>
</span> -->


<div class="text-center fixed-bottom" id="user">
  <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 5%;width: 5%;">
  <img src="https://deckofcardsapi.com/static/img/8C.png" style="height: 5%;width: 5%;">
  <div class="speech">cool</div>
</div>


<h1 id="counter">@Model.Counter</h1>
<button id="wow" class="btn btn-primary">Hey</button><br>
<span id="cool" style="color: white;"></span>
<style>
  body {
    background-image: url('/images/casino_table.jpg');
    background-position: center;

    height: 100;
  }
</style>
<script src="/js/table.js">

</script>

