@model HighStakes.Client.Models.Table

@{
    ViewData["Title"] = "Home Page";
}


<div width="100%">
<table width="100%" border="0">
  <caption>Table of the players and table cards</caption>
          <tbody>

            <tr>
              <th scope="column"></th>
              <th scope="column">
                <span id="player6" class="allusers" style="visibility: hidden;">
                  <img src="/images/twobackcards.jpg" alt="player6 card" class="card-size">
                  <div class="speech">cool</div>
                 </span></th>

              <th scope="column"></th>

              <th scope="column"><span id="player4" class="allusers" style="visibility: hidden;">
                  <img src="/images/twobackcards.jpg" alt="player4 card" class="card-size">
                  <div class="speech">cool</div>
              </span></th>

              <th scope="column"></th>
            </tr>

            <tr>
              <td><span id="player7" class="allusers" style="visibility: hidden;">
                  <img src="/images/twobackcards.jpg" alt="player7 card" class="card-size">
                  <div class="speech">cool</div>
                 </span>
              </td>

              <td></td><td><span class="bubble" id="pot"></span></td><td></td>

              <td><span id="player3" class="allusers" style="visibility: hidden;">
                  <img src="/images/twobackcards.jpg" alt="player3 card" class="card-size">
                  <div class="speech">cool</div>
                 </span>
              </td>
            </tr>

            <tr>


              <td colspan=9>
                <div class="text-center" id="dealer_cards">
                  <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 6%;width: 6%;" class="flops" id="flop1" alt="table card">
                  <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 6%;width: 6%;" class="flops" id="flop2" alt="table card">
                  <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 6%;width: 6%;" class="flops" id="flop3" alt="table card">
                  <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 6%;width: 6%;" class="flops" id="flop4" alt="table card">
                  <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 6%;width: 6%;" class="flops" id="flop5" alt="table card">
                </div>
              </td>


            </tr>

            <tr>
              <td>
                <span id="player8" class="allusers">
                  <img src="/images/twobackcards.jpg" class="card-size" alt="player card">
                  <div class="bubble" id="user8"></div>
                 </span>
              </td><td></td><td></td><td></td>

              <td>
                <span id="player2" class="allusers">
                  <img src="/images/twobackcards.jpg" class="card-size" alt="player card">
                  <div class="bubble" id="user2"></div>
              </span>
              </td>
            </tr>

            <tr>
              <td>

              </td>
              <td>
              </td>
              <td>
                <span class="bubble" id="user"></span>
              </td>
              <td>
                <span>
                  <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 27%;width: 27%;" id="card1" alt="user card">
                  <img src="https://opengameart.org/sites/default/files/card%20back%20blue.png" style="height: 27%;width: 27%;" id="card2" alt="user card">
                </span>

              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td>
              </td>

              <td colspan="2">
                <span>
                  <button id="call" class="btn btn-primary viewbtn" disabled>Call</button>
                  <button id="check" class="btn btn-primary viewbtn" disabled>Check</button>
                  <button id="showraise" class="btn btn-primary viewbtn" disabled>Raise</button>
                  <button id="fold" class="btn btn-primary viewbtn" disabled>Fold</button>
                  <button id="quit" class="btn btn-primary viewbtn" disabled>Quit</button>
                </span>

              </td>
              <td>
              </td>
            </tr>
            <tr>


              <td colspan="5"><br>
                <span id="slidecontainer" style="padding: 20px; color: white; visibility: hidden;">
                  <input type="range" min="1" max="100" value="50" id="slider">
                  <p>Raise: <span id="demo"></span></p>
                  <button id="raise">Go</button>
                </span>


              </td>
            </tr>

        </tbody></table></div>


<span id="counter"></span>
<br>
<span id="cool" style="color: white;"></span>
<style>
  body {
    background-image: url('/images/casino_table.jpg');
    background-position: center;
    height: 100;
  }

</style>
<script src="/js/table.js">

</script>

